html, body {
    margin: 0 !important;
    padding: 0 !important;
  }
.container {
    display: flex;
}
img {
    width: 25%;
    padding: 0%;
    border: 0%;
    -moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
img:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    box-shadow: 0 0 10px black ;
}
p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #EEDD82;
    text-align: center;
    font-size: 30pt;
}
footer{
    padding: 2rem;
    background-color: #2F4F4F;
}